.button-dan {
  border-color: #34b7a7;
  border: 1px solid;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3dc8b7;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .375rem 0.75rem;
  text-align: center;
  transition-duration: 0.5s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
.button-dan:hover {
  background-color: #3dc8b7;
  border-color: transparent;
  color: white;
}
.button-dan:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-dan-danger {
  border-color: #dc3545;
  border: 1px solid;
  border-radius: 15px;
  box-sizing: border-box;
  color: #dc3545;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .375rem .75rem;
  text-align: center;

  transition-duration: 0.5s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
.button-dan-danger:hover {
  background-color: #dc3545;
  border-color: transparent;
  color: white;
}
.button-dan-danger:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}



@media (min-width: 768px) {
  .button-dan {
    padding: .375rem 1.75rem;
  }
  .button-dan-danger {
    padding: .375rem .75rem;
  }
}