{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{printed_model.thumbnail.url}}" alt="">
                </div>
                {% for image in gallery %}
                  <div class="swiper-slide">
                    <img src="{{image.image_name.url}}" alt="">
                  </div>
                {% endfor %}

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{printed_model.name}}</h3>
              <ul>
                <li><strong>Tags: </strong>
                  {% for tag in printed_model.tags.all %}
                      <a><span class="badge bg-info">{{tag}}</span> ,</a>
                  {% endfor %}
                </li>
                <li><strong>Height: </strong>{{printed_model.height}}mm</li>
                <li><strong>Resin printed?: </strong>
                  {% if printed_model.is_resin %}
                      Yes
                  {% else %}
                      No
                  {% endif %}
                </li>
                <li><strong>Project date: </strong>{{printed_model.painted_date}}</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                {% if user.is_authenticated %}
                <li><a type="button" class="btn btn-outline-info" href="{% url 'portfolio-page-update' printed_model.slug %}">Edit printed model</a></li>
                <li><a type="button" class="btn btn-outline-danger" href="{% url 'portfolio-page-delete' printed_model.slug %}">Delete printed model</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                {{printed_model.description}}
              </p>
            </div>
          </div>

        </div>

        <hr>
        <div class="section-title">
          <h2>Details</h2>
        </div>

        <div>{{printed_model.webpage_body|safe}}</div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock content %}
