{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <a type="button" class="button-dan" href="{% url 'portfolio-page-create'%}">Add new printed model</a>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">

              <li data-filter="*" class="filter-active">All</li>
              {% for tag in tags %}
                {% if tag.featured %}
                <li data-filter=".{{tag}}">{{tag}}</li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          {% for printed_model in printed_models %}
            <div class="col-lg-4 col-md-6 portfolio-item {% for tag in printed_model.tags.all %}{{tag}} {% endfor %}">
              <div class="portfolio-wrap">
                <img src="{{printed_model.thumbnail.url}}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{printed_model.name}}</h4>
                  <p>
                    {% for tag in printed_model.tags.all %}
                      {{tag}} ,
                    {% endfor %}
                  </p>
                  <div class="portfolio-links">
                    <a href="{{printed_model.thumbnail.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{figure.name}}"><i class="bx bx-search"></i></a>
                    <a href="{% url 'portfolio-detail-page' printed_model.slug %}" title="Portfolio Details"><i class="bx bx-notepad"></i></a>
                  </div>
                  <div class="portfolio-button">
                    <a type="button" class="button-dan" href="{% url 'portfolio-detail-page' printed_model.slug %}">Details</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endblock content %}