{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{figure.thumbnail.url}}" alt="">
                </div>
                {% for image in gallery %}
                  <div class="swiper-slide">
                    <img src="{{image.image_name.url}}" alt="">
                  </div>
                {% endfor %}

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{figure.name}}</h3>
              <ul>
                <li><strong>Tags: </strong>
                  {% for tag in figure.tags.all %}
                      <a><span class="badge bg-info">{{tag}}</span> ,</a>
                  {% endfor %}
                </li>
                <li><strong>Height: </strong>{{figure.height}}mm</li>
                <li><strong>Resin printed?: </strong>
                  {% if figure.is_resin %}
                      Yes
                  {% else %}
                      No
                  {% endif %}
                </li>
                <li><strong>Project date: </strong>{{figure.painted_date}}</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                {{figure.description}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock content %}
