{% load static %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url({% static '/static_website_images/hero_page_background.jpg' %}) top right;">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: white">Dan Timefly Workshop</h1>
      <h2 style="color: white">I'm a Hobbyist Miniature Painter from Poland</h2>
      <a href="{% url 'about' %}" class="btn-about" style="color: black">About Me</a>
    </div>
  </section><!-- End Hero -->