 {% load static %}
 {% url 'homepage' as homepage %}
 {% url 'about' as about %}
 {% url 'services' as services %}
 {% url 'portfolio-page' as portfoliopage %}
 {% url 'contact-page' as contactpage %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0">
        <a href="{% url 'homepage' %}"><img src="{% static 'website_images/logo.png' %}">DTW</a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="{% if request.path == homepage %} active {% endif %}" href="{% url 'homepage' %}">Home</a></li>
          <li><a class="{% if request.path == about %} active {% endif %}" href="{% url 'about' %}">About</a></li>
          <li><a class="{% if request.path == services %} active {% endif %}" href="{% url 'services' %}">Services</a></li>
          <li><a class="{% if request.path == portfoliopage %} active {% endif %}" href="{% url 'portfolio-page' %}">Portfolio</a></li>
          <li><a class="{% if request.path == contactpage %} active {% endif %}" href="{% url 'contact-page' %}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->